<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navbar1">
                <h1>BREWED AWAKENING</h1>
                <div class="navbar2">
                    <a href="../index.html">Home</a>
                    <a href="../components/about.html">About</a>
                    <a class="active" href="../components/menu.html">Menu</a>
                    <div class="d">
                        <input type="search" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
        </nav>
        <div class="welcome">
            <h2>Welcome to Our Coffee Shop</h2>
        </div>
        <main>
            <div class="main5">
                <div>
                    <img src="../asset/Avocado.jpg" alt="Avocado">
                    <p>Avocado-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Espresso.jpg" alt="Espresso">
                    <p>Espresso-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Latte.jpg" alt="Latte">
                    <p>Latte-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Mocha_coffee.jpg" alt="Mocha_coffee">
                    <p>Mocha_coffee-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Black Eye Coffee.jpg" alt="Black Eye Coffee">
                    <p>Black Eye Coffee-5$</p>
                    <button>Order now</button>
                </div>
            </div>
            <div class="main5">
                <div>
                    <img src="../asset/Matcha Latte.webp" alt="Matcha Latte">
                    <p>Matcha Latte-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Cinnamon Roll Iced.png" alt="Cinnamon Roll Iced">
                    <p>Cinnamon Roll Iced-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Latte macchiato.jpg" alt="Latte macchiato">
                    <p>Latte macchiato-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Espresso-Con-Panna.jpg" alt="Espresso-Con-Panna">
                    <p>Espresso-Con-Panna-5$</p>
                    <button>Order now</button>
                </div>
                <div>
                    <img src="../asset/Nitro coffee.jpg" alt="Nitro coffee">
                    <p>Nitro coffee-5$</p>
                    <button>Order now</button>
                </div>
        </main>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Our story...</p>
                <div class="footer-section">
                    <h3>Contact Us</h3>
                    <p>Address: 123 Coffee Street</p>
                    <p>Phone: +85593724230</p>
                    <p>Email: info@coffeeshop.com</p>
                </div>
                <div class="footer-section">
                    <h3>Social Media</h3>
                    <i class='bx bxl-facebook'></i>
                    <i class='bx bxl-instagram'></i>
                    <i class='bx bxl-twitter'></i>
                    <i class='bx bxl-tiktok'></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>